<IfModule mod_rewrite.c>
    RewriteEngine On
    PassengerAppRoot "/home/u123456789/public_html"
    PassengerBaseURI "/"
    PassengerAppType node
    PassengerStartupFile index.js
</IfModule>

# For static routing fallback
<IfModule mod_rewrite.c>
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
